ase==3.19.0
autopep8==1.5
certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
dataclasses
decorator==4.4.2
entrypoints==0.3
flake8==3.7.9
h5py==2.10.0
idna==2.9
joblib==0.14.1
kiwisolver==1.1.0
matplotlib==3.2.1
mccabe==0.6.1
monty==3.0.2
mpmath==1.1.0
networkx==2.4
numpy==1.18.2
palettable==3.3.0
pandas==1.0.3
Pillow==7.0.0
pycodestyle==2.5.0
PyDispatcher==2.0.5
pyflakes==2.1.1
pymatgen==2020.3.13
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sklearn==0.0
spglib==1.14.1.post0
sympy==1.5.1
tabulate==0.8.6
torch==1.4.0
torchvision==0.5.0
tqdm==4.43.0
urllib3==1.25.8
